  <div class="subscribe-bar">
    <div class="wrapper">
      <form class="columns" action="#">
        <label for="emailaddr">Lorem ipsum dolor sit amet our newsletter</label>
        <div class="set">
          <input type="text" class="txt" id="emailaddr" value="Your email address">
          <input type="submit" class="submit" value="Subscribe">
        </div>
      </form>
    </div>
  </div>
  <footer id="footer">
    <div class="wrapper">
      <div class="footer-company-info is-centered columns">
        <div class="column is-3">
          <strong class="logo">
            <a href=""><img src="images/ae-logo-footer.svg" width="270" height="79" alt="Adam &amp; Eve - Medical Aesthetics"></a>
          </strong>
        </div>
        <div class="columns column is-5 is-offset-1">
          <div class="column is-7">
            <h4>Adam &amp; Eve Medical Aesthetics</h4>
            <address>31309 N. Scottsdale Rd, Suite 100 <br> Scottsdale, Arizona, 85266</address>
            <ul class="share-list">
              <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-youtube"></i></a></li>
              <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href=""><i class="fab fa-yelp"></i></a></li>
              <li><a href=""><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="column is-5">
            <dl class="schedule-list">
              <dt>Monday – Friday</dt>
              <dd>9:00 am to 7:00 pm</dd>
              <dt>Saturday</dt>
              <dd>10:00 am to 5:00 pm</dd>
            </dl>
          </div>
        </div>
        <div class="column is-3">
          <dl class="callus">
            <dt>Call</dt>
            <dd>480.575.6584</dd>
          </dl>
          <a href="" class="button requestconsultation-btn">Request Consultation</a>
        </div>
      </div>
      <div class="footer-nav columns is-multiline">
        <div class="column is-2">
          <h5>Our Office</h5>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Testimonials</a></li>
            <li><a href="">Staff</a></li>
            <li><a href="">New Patient Forms</a></li>
            <li><a href="">Media Gallery</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="column is-2">
          <h5>Injectables</h5>
          <ul>
            <li><a href="">PDO Threads</a></li>
            <li><a href="">Belotero Balance</a></li>
            <li><a href="">VOLUMA by JUV&Eacute;DERM</a></li>
            <li><a href="">Sculptra</a></li>
            <li><a href="">Radiesse</a></li>
            <li><a href="">RESTYLANE</a></li>
            <li><a href="">Volbella</a></li>
            <li><a href="">Juvederm</a></li>
            <li><a href="">Aqua Gold</a></li>
            <li><a href="">Dysport</a></li>
            <li><a href="">Xeomin</a></li>
            <li><a href="">Botox</a></li>
          </ul>
        </div>
        <div class="column is-4">
          <h5>Laser Skin Rejuvenation</h5>
          <ul>
            <li><a href="">FemTouch - Vaginal Laser Rejuvenation</a></li>
            <li><a href="">Acupulse Co2 Laser Resurfacing - Lumenis</a></li>
            <li><a href="">Active FX Co2 - Fractional Laser Resurfacing</a></li>
            <li><a href="">IPL Photo Facials</a></li>
            <li><a href="">Vein Removal</a></li>
            <li><a href="">Laser Hair Reduction</a></li>
          </ul>
          <h5>Vaginal Rejuvenation</h5>
          <ul>
            <li><a href="">FemTouch - Vaginal Laser Rejuvenation</a></li>
          </ul>
        </div>
        <div class="column is-2">
          <h5>Body Treatments</h5>
          <ul>
            <li><a href="">Kybella</a></li>
            <li><a href="">Scierotherapy</a></li>
            <li><a href="">Hyperhydrosis</a></li>
            <li><a href="">SculpSure</a></li>
            <li><a href="">VelaShape</a></li>
          </ul>
          <h5>Skin Tightening</h5>
          <ul>
            <li><a href="">SculpSure</a></li>
            <li><a href="">VelaShape</a></li>
            <li><a href="">Ultherapy</a></li>
          </ul>
        </div>
        <div class="column is-2">
          <h5>Aesthetic Treatments</h5>
          <ul>
            <li><a href="">PRP by Eclipse</a></li>
            <li><a href="">Aqua Gold</a></li>
            <li><a href="">Microneedling</a></li>
            <li><a href="">Clinical Facials</a></li>
            <li><a href="">Hair Follicle Replication</a></li>
            <li><a href="">Permanent Makeup</a></li>
            <li><a href="">Waxing</a></li>
            <li><a href="">Chemeical Peel</a></li>
            <li><a href="">Hydrafacial</a></li>
            <li><a href="">Microdermabrasion</a></li>
            <li><a href="">Dermaplane</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <div class="btmbar">
    <p>&copy; 2018 Adam &amp; Eve Medical Aesthetics &ndash; All Rights Reserved</p>
    <dl>
      <dt>Site by</dt>
      <dd><a href="">Brightoak</a></dd>
    </dl>
  </div>
  <script src="js/main.js"></script>