<div id="requestconsultation">
  <div id="requestconsultation-container">
      <div class="form-holder">
          <div class="header">
              <h3>Request a Consultation</h3>
              <p>or Call 480.575.6584</p>
          </div>
          <div class="content">
              <form action="">
                  <div class="columns is-multiline">
                      <div class="column columns is-multiline is-6 is-gapless">
                          <div class="column is-12">
                              <input type="text" placeholder="Name" class="txt" required>
                          </div>
                          <div class="column is-12">
                              <input type="text" placeholder="Phone" class="txt" required>
                          </div>
                          <div class="column is-12">
                              <input type="email" placeholder="Email" class="txt" required>
                          </div>
                      </div>
                      <div class="column columns is-multiline is-6 is-gapless">
                          <div class="column is-12 datepicker-holder">
                              <input id="requested-appointment-date" placeholder="Requested Appointment Date" class="txt" required>
                          </div>
                          <div class="column is-12 selecttime-holder">
                              <select required>
                                  <option value="">Preferred Appointment Time</option>
                                  <option value="8am">8 am</option>
                                  <option value="9am">9 am</option>
                              </select>
                          </div>
                          <div class="column is-12 select-holder">
                              <select required>
                                  <option value="">First Time Patient?</option>
                                  <option value="yes">Yes</option>
                                  <option value="no">No</option>
                              </select>
                          </div>
                      </div>
                      <div class="column is-12">
                          <textarea class="txt" cols="10" rows="8" placeholder="Message (not required)"></textarea>
                      </div>
                  </div>
                  <input type="submit" class="button" value="Request a Consultation">
              </form>
          </div>
      </div>
      <div class="request-sent">
          <div class="inner">
              <i class="far fa-check"></i>
              <h3>Request Sent!</h3>
              <p>Thank you for subscribing to our newsletter. We’ll be sending you morbi varius tristique ipsum ut egestas. Aliquam dapibus enim sed ante vulputate tincidunt.</p>
              <a href="" class="button">View this months Specials</a>
          </div>
      </div>
      <span class="close"><i class="fal fa-times"></i></span>
  </div>
  <div id="fader"></div>
</div>