<div id="sidenav">
  <div class="inner">
    <div class="nav">
      <h3>Our Office</h3>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Testimonials</a></li>
        <li><a href="">Staff</a></li>
        <li><a href="">New Patient Forms</a></li>
        <li><a href="">Media Gallery</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="nav">
      <h3>Our Services</h3>
      <ul>
        <li><a href="">Injectables</a></li>
        <li><a href="">Laser Skin Rejuvenation</a></li>
        <li><a href="">Body Treatments</a></li>
        <li><a href="">Aesthetic Treatments</a></li>
        <li><a href="">Vaginal Rejuveation</a></li>
        <li><a href="">Skin Tightening</a></li>
      </ul>
    </div>
    <div class="box">
      <dl class="callus">
        <dt>Call</dt>
        <dd>480.575.6584</dd>
      </dl>
      <a href="" class="button requestconsultation-btn">Request Consultation</a>
    </div>
    <div class="info">
      <h4>Adam &amp; Eve Medical Aesthetics</h4>
      <address>31309 N. Scottsdale Rd, Suite 100 <br> Scottsdale, Arizona, 85266</address>
      <ul class="share-list">
        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
        <li><a href=""><i class="fab fa-youtube"></i></a></li>
        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
        <li><a href=""><i class="fab fa-yelp"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <span class="close-cross"></span>
</div>