<section class="trust-logos">
  <div class="wrapper">
    <ul class="columns is-mobile is-multiline is-centered">
      <li class="column is-narrow"><img src="images/logo-nyctimes.png" alt="" width="127" height="105"></li>
      <li class="column is-narrow"><img src="images/logo-thedoctors.png" alt="" width="186" height="56"></li>
      <li class="column is-narrow"><img src="images/logo-12kpnx.png" alt="" width="153" height="88"></li>
      <li class="column is-narrow"><img src="images/logo-abc15.png" alt="" width="123" height="62"></li>
      <li class="column is-narrow"><img src="images/logo-fox910amphoenix.png" alt="" width="122" height="99"></li>
    </ul>
  </div>
</section>